/**NOTE: ONLY PUT LIGHT THEME COLOURS IN THIS FILE*/
html {
  color: #00060D;
  background: #E6F1FF;
}
::selection {
  /* !fix this */
  background: #889BB3;
}
*:focus {
  /* !fix this */
  outline-color: #C2DDFF;
}
/* day/event stuff */
#day-wrapper {
  background-color: #E6F1FF;
}
.event {
  background-color: #7EAFEA;
}
.eventMore {
  background-color: red;
}
.event span:empty:before {
  color: #003980;
}
.event.selected {
  /* !fix this */
  background-color: #5395E6;
}

/* datepicker */
#select-wrapper {
  background-color: #D9EAFF;
}
#date-selector-cal {
  background-color: inherit;
  color: inherit;
}
#date-selector-cal input {
  background-color: inherit;
  color: inherit;
}
#date-selector-cal input[type="text"] {
  background-color: inherit;
  color: inherit;
}

#date-selector-cal input.today {
  background-color: inherit;
  color: inherit;
}

#date-selector-cal input.selected {
  background-color: #B0D4FF;
  color: inherit;
}

#date-selector-cal input.otherMonth {
  background-color: inherit;
  color: #7EAFEA;
}
/* Scroll Bar */
::-webkit-scrollbar-track {
  background: #E6F1FF;
}

::-webkit-scrollbar-thumb {
  background: #73A8EA;
}

::-webkit-scrollbar-thumb:hover {
  /* !fix this */
  background: #0067E6;
}
/* Notes */
.notes-wrapper-wrapper {
  background-color: #B9CFEA;
}
#notes-wrapper:empty:before {
  color: #B8C0CC;
}

/* settings modal */
#modalSettings {
  /* !Fix this */
  background-color: #00306694;
}

#settingsContent, #searchContent  {
  /* !Fix this */
  background-color: #E6F1FF;
}

#eventsMenu {
  background-color: #B9CFEA;
}
#notesMenu {
  background-color: #E6F1FF;
}

/* Icons */
#date-selector-cal input[value="<<"],
#date-selector-cal input[value=">>"],
#date-selector-cal input[value="<"],
#date-selector-cal input[value=">"],
#date-selector-cal input[value=">"],
#delete,
#previewMD[value="Preview"],
#previewMD[value="Edit"],
#settings,
#search,
#SetClose, #SerClose {
  background-color: #0050B3;
}