/**NOTE: ONLY PUT DARK THEME COLOURS IN THIS FILE*/
html {
  color: #E6F1FF;
  background: #00060D;
}
::selection {
  /* !fix this */
  background: #889BB3;
}
*:focus {
  /* !fix this */
  outline-color: #C2DDFF;
}
/* day/event stuff */
#day-wrapper {
  background-color: #00060D;
}
.event {
  background-color: #00224D;
}
.eventMore {
  background-color: red;
}
.event span:empty:before {
  color: #B8C0CC;
}
.event.selected {
  /* !fix this */
  background-color: #003980;
}

/* datepicker */
#select-wrapper {
  background-color: #001226;
}
#date-selector-cal {
  background-color: inherit;
  color: inherit;
}
#date-selector-cal input {
  background-color: inherit;
  color: inherit;
}
#date-selector-cal input[type="text"] {
  background-color: inherit;
  color: inherit;
}

#date-selector-cal input.today {
  border-color: #E6F1FF;
  background-color: inherit;
  color: inherit;
}

#date-selector-cal input.selected {
  background-color: #005FCC;
  color: inherit;
}

#date-selector-cal input.otherMonth {
  background-color: inherit;
  color: #B8C0CC;
}
/* Scroll Bar */
::-webkit-scrollbar-track {
  background: #000C1A;
}

::-webkit-scrollbar-thumb {
  background: #003980;
}

::-webkit-scrollbar-thumb:hover {
  /* !fix this */
  background: #0053B3;
}
/* Notes */
.notes-wrapper-wrapper {
  background-color: #001833;
}
#notes-wrapper:empty:before {
  color: #B8C0CC;
}

/* settings modal */
#modalSettings {
  /* !Fix this */
  background-color: #00306694;
}

#settingsContent {
  /* !Fix this */
  background-color: #00060D;
}

#eventsMenu {
  background-color: #001833;
}
#notesMenu {
  background-color: #00060D;
}

/* Icons */
#date-selector-cal input[value="<<"],
#date-selector-cal input[value=">>"],
#date-selector-cal input[value="<"],
#date-selector-cal input[value=">"],
#date-selector-cal input[value=">"],
#delete,
#previewMD[value="Preview"],
#previewMD[value="Edit"],
#settings,
#SetClose {
  background-color: #ACC7E6;
}